{
	margin: 0;
	padding: 0;
}
body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background: #efefef;
	font-family: arial; 

	width: 89%;
	background-color: white;
	box-shadow: 0px opx 40px black;
	text-align: center;
	display: block;
	margin: 8px auto;
	height: 0px;
	
}
content{
	font-family: 'sans-serif' ;
	font-size: 1.5em;
	font-weight: 200;
	padding-bottom: 60px;
}
#personal{
	position: relative;
	top: 150px;
	text-align: center;
	width: 10000px
	center: -200px;
	padding-left: 25%;
}
h1 {
	font size: 18px;
}
a{
	color: #000000;
	text-decoration: underline;  
}
h2 {
	font-size: 16px;
}
p{
	font-size: 14px;
}